{% extends "base.html" %}

{% block title %}
	Articale
{% endblock title %}

{% block content %}
	<h1>Un Approved Articales</h1>
	<br>

	<table class="table">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
			<th></th>
		</tr>

		
			{% for articale in Articales %}
			<tr>
				<td>{{articale.id}}</td>
				<td>{{articale.title}}</td>
				<td>{{articale.author}}</td>
				<td>{{articale.created}}</td>
				<td>
					<a href="{{url_for('admin_Areticale_approve',id=articale.id)}}" class="btn btn-primary">Approve</a>
				</td>
			</tr>
			{% endfor %}
		
	</table>

{% endblock content %}