{% extends "base.html" %}

{% block title %}
	Test
{% endblock title %}

{% block content %}
	<h1>Welcome to Dhash Board</h1>
	<section class="row text-center">
		<div class="col-6 col-sm-3">
			<span class="fa fa-stack" style="font-size: 52pt;color:#0071eb">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
			</span>
			<h4><a href="#">Articales</a></h4>
			<span>there is <strong>15</strong> articales in your web site.</span>
		</div>

		<div class="col-6 col-sm-3">
			<span class="fa fa-stack" style="font-size: 52pt;color:#0071eb">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-users fa-stack-1x fa-inverse"></i>
			</span>
			<h4><a href="#">Users</a></h4>
			<span>there is <strong>15</strong> users in your web site.</span>
		</div>

		<div class="col-6 col-sm-3">
			<span class="fa fa-stack" style="font-size: 52pt;color:#0071eb">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-check fa-stack-1x fa-inverse"></i>
			</span>
			<h4><a href="#">Approve</a></h4>
			<span>there is <strong>15</strong> articales need your approve.</span>
		</div>
	</section>
{% endblock content %}