{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block content %}
	<div class="container jumbotron col-10">
		<p class="lead">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quo, rerum ipsa saepe minima molestiae aspernatur animi et ipsum numquam incidunt, similique natus praesentium recusandae? Et deleniti, sed odio mollitia!
		</p>
		<span>
			<a href="#" class="btn btn-primary">Rigester</a>
			<a href="#" class="btn btn-success">Login</a>
		</span>
	</div>
{% endblock content %}